* {
  margin: 0;
}
body {
  background: url("./assets/ruddpond.png") no-repeat center center fixed;
  background-size: cover;
}
div.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: relative;

  outline: 3px solid white;
  outline-offset: -2vw;
}
div.about{
  background-color: rgba(255,255,255,.5);
  border-radius: .1rem;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
p{
  padding: 10px;
}
h1{ /*this isn't lined up with margins b/c of offset with a + ul*/
  float: left;
  margin: 4vw;
}
ul {
  float: right;
  margin: 5vw;
}
a {
  margin: 2vw;
  padding: 2vh 4vw;
  border-radius: .3rem;
  text-decoration: none;
  color: white;
  background-color: rgba(101,	117,	133	, .5);
}
a:hover{
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
a:active{
  transform: translateY(2px); /*not working*/
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}
