::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
}
body {
  background-color: #222;
  background: url("./assets/ruddpond.png") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  color: #FAFAFA;
}
.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: relative;

  outline: 2px solid #FAFAFA;
  outline-offset: -20px; -2vw;
}
.header {
  width: 22vw;
  height: 22vh;
  float: left;
  margin: 4vw;

  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.header h1{
  font-size: 34px;
}
/*.header h3{
  font-size: 14px;
  margin-left: 5px;
}*/
.about{
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
}
.code-card {
  border-radius: .1rem;
  box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.75);
  font-size: 18px;
  background-color: #222;
  color: #FAFAFA;
  width: 500px;
  height: 530px;
  margin: 10px;
}
#js-txt {
  padding-left: 5px;
}
#py-txt {
  padding-left: 5px;
}
.projects {
  background-color: #FAFAFA;
  /*background: linear-gradient(#DEDEDE, #FAFAFA);*/
  height: 78vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;

  /*outline: 3px solid #222;
  outline-offset: -20px; -2vw;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.proj-card {
  background-color: #DEDEDE;
  color: #222;
  /*box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.75);*/
  padding: 5px;
  width: 300px;
  height: 450px;
  border-radius: .1rem;
  position: relative;
}
.proj-card h4 {
  /*text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);*/
  padding-left: 10px;
  font-size: 32px;
}
.proj-card p {
  font-size: 20px;
  padding-left: 15px;
  padding: 10px;
}
.proj-card img {
  position: absolute;
  /*box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);*/
  top: 45%;
  left: 1.5%;
  height: 200px;
  width: 300px;
}
.proj-link{
  position: absolute;
  top: 90%;
  left: 0%;
  border-radius: .15rem .15rem 0 0;
  width: 310px;
  height: 35px;

  text-decoration: none;
  letter-spacing: .5px;
  text-align: center;
  padding-top: 12px;

  background-color: #222;
  color: #FAFAFA;
  /*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);*/
  transition: .8s;
}
.proj-link:hover {
  background-color: #111;
  color: #FAFAFA;
}
.contact {
  background-color: #222;
  width: 100vw;
  height: 22vh;
  position: relative;

  outline: 2px solid #FAFAFA;
  outline-offset: -20px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.contact-info{
  width: 300px;
  position: absolute;
  top: 3vh;
  left: 3vw;
}
.contact-info h4{
  position: relative;
  left: 1vw;
}
#copy-button{
  position: relative;
  top: -18px;
  left: 203px;
  width: 25px;
  height: 20px;
  background-color: #EAEAEA;
  border-style: none;
}
#copy-button:active{
  outline: 0;
  background-color: #BFBFBF;
}
.contact-links-container {
  width: 300px;
  position: absolute;
  top: 3vh;
  left: 70vw;
}
.contact-links{
  margin: 5px;
}
#linkedin-logo{
  margin: 2px;
  width: 100px;
  height: 25px;
}
#github-logo{
  margin: 2px;
  width: 25px;
  height: 25px;
}
/*Cursor Styling for Code Cards*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*Spans for code effect*/
.ind0 {
  padding-left: 5px;
}
.ind1 {
  padding-left: 10px;
}
.ind2 {
  padding-left: 15px;
}
.ind3 {
  padding-left: 23px;
}
.ind4 {
  padding-left: 31px;
}
.ind5 {
  padding-left: 36px;
}
.ind6 {
  padding-left: 41px;
}
/* Code Colors
* Python def  - 255	138	80
* Python func - 23	56	245
* Python str  - 0	180	54
* Python char - 164	38	159
* ~~~~~~~~~~~~~~~~~~~~~~~~~
* JavaSc func - 102	216	235
* JavaSc def  - 151	222	41
* JavaSc str  - 182	206	105
* JavaSc char - 148	118	255
* JavaSc key  - 248	33	97
* JavaSc Comm - 97	102	83
*/
.pyDef{
  color: rgb(255,138,80)
}
.pyFunc{
  color: rgb(45,86,205)
}
.pyStr{
  color: rgb(0,180,54)
}
.pyChar{
  color: rgb(164,38,159)
}
.jsFunc{
  color: rgb(102,216,235)
}
.jsDef{
  color: rgb(151,222,41)
}
.jsStr{
  color: rgb(202,186,105)
}
.jsChar{
  color: rgb(148,118,255)
}
.jsKey{
  color: rgb(248,33,97)
}
.jsComm{
  color: rgb(97,102,83)
}
