* {
  margin: 0;
}
body {
  background: url("./assets/ruddpond.png") no-repeat center center fixed;
  background-size: cover;
  color: #FAFAFA;
  /*color: rgb(250,250,250);*/
  height: 100vh;
}
.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: relative;

  outline: 3px solid white;
  outline-offset: -2vw;
}
.about{
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
}
.code-card {
  border-radius: .1rem;
  box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.75);
  font-size: 18px;
  background-color: #222;
  color: #FAFAFA;
  width: 500px;
  height: 500px;
  margin: 10px;
}
#js-txt {
  padding-left: 5px;
}
#py-txt {
  padding-left: 5px;
}

.projects {
  background-color: #DEDEDE;
  background: linear-gradient(#DEDEDE, #FAFAFA);
  height: 80vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;
}

.proj-card {
  background-color: #FAFAFA;
  color: #222;
  box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.75);
  width: 300px;
  height: 250px;
  border-radius: .1rem;
}

.proj-card h4 {
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
  padding-left: 10px;
  font-size: 24px;
}

.proj-card p {
  font-size: 18px;
  padding-left: 15px;
}

.contact {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 20vh;
  position: relative;

  outline: 3px solid white;
  outline-offset: -2vw;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

p {
  padding: 10px;
}
.header {
  width: 22vw;
  height: 22vh;
  float: left;
  margin: 4vw;
}
.header h1{
  font-size: 34px;
}
ul {
  display: flex;
  justify-content: space-around;
  margin: 5vw;
  margin-top: 0vw;
}
a {
  margin: 2vw;
  margin-top: 5vh;
  padding: 2vh 4vw;
  border-radius: .3rem;
  text-decoration: none;
  color: white;
  background-color: rgba(101,	117,	133	, .5);
}
a:hover{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 1);
  background-color: rgba(81,	97,	113	, .5);
}

/*Spans for code effect*/
.ind1 {
  padding-left: 10px;
}
.ind2 {
  padding-left: 15px;
}
.ind3 {
  padding-left: 23px;
}
.ind4 {
  padding-left: 31px;
}

/* Code Colors
* Python def  - 255	138	80
* Python func - 23	56	245
* Python str  - 0	180	54
* Python char - 164	38	159
* ~~~~~~~~~~~~~~~~~~~~~~~~~
* JavaSc func - 102	216	235
* JavaSc def  - 151	222	41
* JavaSc str  - 182	206	105
* JavaSc char - 148	118	255
* JavaSc key  - 248	33	97
*/
.pyDef{
  color: rgb(255,138,80)
}
.pyFunc{
  color: rgb(23,56,245)
}
.pyStr{
  color: rgb(0,180,54)
}
.pyChar{
  color: rgb(164,38,159)
}
.jsFunc{
  color: rgb(102,216,235)
}
.jsDef{
  color: rgb(151,	222,	41)
}
.jsStr{
  color: rgb(182,206,105)
}
.jsChar{
  color: rgb(148,118,255)
}
.jsKey{
  color: rgb(248,33,97)
}
